@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Arimo:400|Raleway:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  font-family: 'Raleway', sans-serif;
}

.heading {
  color: white;
  text-align: center;
  justify-content: center;
  margin: 50px auto;
  text-transform: uppercase;
  letter-spacing: 25px;
  text-shadow: 0px 0px 4px #b463d0;
  font-size: 2rem;
}

.outer-box {
  background-image: linear-gradient(to bottom right, #47474745,#0b0b0b, #47474745);
  margin: 60px auto;
  padding: 30px;
  width: 80%;
  max-width: 800px;
  border-radius: 30px;
  box-shadow: 0px 0px 35px #b463d0;
}

.each {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 20px;
}

.each-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .outer-box {
    width: 90%;
    padding: 30px;
  }

  .heading {
    font-size: 1.5rem;
    margin: 30px auto; /* Adjust margin for better spacing */
  }

  .each {
    flex-direction: column;
    gap: 15px; /* Adjust gap between elements */
  }

  input[type="text"],
  input[type="checkbox"],
  input[type="radio"],
  select {
    width: 100%; /* Set input fields to full width */
  }

  input[type="submit"] {
    padding: 8px 16px; /* Reduce padding for button */
    font-size: 1rem; /* Adjust font size for button */
  }
}

label {
  color: rgb(255, 129, 255);
  font-size: larger;
  font-weight: 500;
}

input[type="text"],
input[type="checkbox"],
input[type="radio"],
select {
  padding: 10px;
  border: 2px solid rgb(255, 129, 255);
  border-radius: 15px;
  background-color: #ffffff;
  width: 80%;
  box-sizing: border-box;
  color: black;
}

input[type="checkbox"]
{
 margin-inline: 3.5rem ;
}

input[type="radio"]
{
 margin-inline: 1.6rem ;
}



input[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(255, 129, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

.submit-message {
  color: white;
}

input[type="submit"]:hover
{
  background-color: rgb(255, 170, 255);
  box-shadow: 0px 0px 10px black;
}

